In [ ]:
import csv
import sqlite3
from db import get_connection

conn = get_connection() # Obtain a database connection
cursor = conn.cursor() # Cursor is like an editor to run SQL commands


cursor.execute("""
SELECT id, name, price, in_stock, category_id, created_at
FROM products
""")

rows = cursor.fetchall()
columns = [col[0] for col in cursor.description]

with open("products.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(columns)  # header
    writer.writerows(rows)

conn.close()

## Use for example with Pandas DataFrame

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("products.csv")
df.head()

   id        name   price  in_stock  category_id           created_at
0   1      Laptop  1200.0         1            1  2025-12-16 19:28:52
1   2  Headphones   199.0         1            1  2025-12-16 19:28:52